<div class="header">
  <span><h5>Products Available</h5></span>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="openAddProductForm()">
    Add Product
  </button>
</div>
<div class="filter">
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="enter data"
    #input
  />
</mat-form-field>
</div>

<div class="product-container">
  <mat-card
    *ngFor="let product of filteredProducts"
    class="product-card"
    appearance="outlined"
  >
    <img
      mat-card-image
      src="{{ product.thumbnailURL }}"
      alt="Photo of {{ product.productName }}"
    />
    <mat-card-header>
      <mat-card-title
        >{{ product.company }} {{ product.productName }}</mat-card-title
      >
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="stock">In Stock: {{ product.stock }}</div>
      <div class="vendor">Vendor: {{ product.seller }}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDetailsPage(product._id)">
        View Details <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
