.card-container{
    display:flex;
    justify-content: center;
    margin-top: 5%;

}

mat-card{
    max-width: 500px;
    border-radius: 10px;
}

mat-card-content{
    font-weight: 600;
    font-size: 22px;
    margin-left: 31%;
}

.row {
    margin-left: 35px;
    margin-right: 35px;
    display:flex;
    justify-content: center;
}

.form-container{
    display:flex;
    justify-content: center;
    margin-top: 15%;
}

.button-signup{
    display:flex;
    justify-content: center;
    margin-bottom:30px;
}