.card-container{
    display:flex;
    justify-content: center;
    margin-top: 5%;
    p{
        display:flex;
    justify-content: center;
    font-size: 12px;
    }
}

mat-card{
    max-width: 500px;
    border-radius: 10px;
}

mat-card-content{
    font-weight: 600;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.row {
    margin-left: 35px;
    margin-right: 35px;
    display:flex;
    justify-content: center;
}

.form-container{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

.button-signup{
    display:flex;
    justify-content: center;
    margin-bottom:30px;
}