<h5 mat-dialog-title>Product Details</h5>
<div class="container">
  <mat-card class="product-card">
    <div class="header">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{product.productName}}</mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </div>
    <mat-card-content class="card-content">
      <div class="image">
        <img
          mat-card-xl-image
          src={{product.thumbnailURL}}
        />
      </div>
      <div class="desc">
      <div><b>Company</b>: {{ product.company }} </div><div><b>Seller</b>: {{ product.seller }}</div>
      <div>
        <b>Description</b>:
        {{ product.description }}
      </div>
      <div><b>Color</b>: {{ product.color }} </div> 
      <div><b>Stock</b>: {{ product.stock }}</div>
      <div><b>Created Date</b>:{{ product.createdDate }}</div>
    </div>
    </mat-card-content>
    <div class="buttons">
      <button mat-fab (click)="deleteProduct(product)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-fab (click)="openEditForm(product)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card>

</div>